<div class="container row ">
    <div class="col-2 d-flex justify-content-center align-items-center minh-100">
        <div class="col-sm-8 p-2">
            <div class="card text-center
             colorUsers">
                <h5 class="card-header  text-white">Jugadores</h5>
                <div class="card-body">
                    <img src="../../../assets/img/icon-user.png" alt="" class="userImg">
                </div>
                <div class="card-body">
                    <img src="../../../assets/img/icon-user.png" alt="" class="userImg">
                </div>
                <div class="card-body">
                    <img src="../../../assets/img/icon-user.png" alt="" class="userImg">
                </div>
                <div class="card-body">
                    <img src="../../../assets/img/icon-user.png" alt="" class="userImg">
                </div>
                <div class="card-body">
                    <img src="../../../assets/img/icon-user.png" alt="" class="userImg">
                </div>
                <div class="card-body">
                    <img src="../../../assets/img/icon-user.png" alt="" class="userImg">
                </div>
            </div>
        </div>
    </div>

    <div class="col col-lg-8 d-flex align-items-center  minh-100 ">
        <div class="card col-sm-8 w-100 p-2 colorUsers">
            <div class="text-center content d-flex justify-content-around align-items-center minh-100">
                <div class="card text-bg-dark mb-3 cardDimencion">
                    <img src="https://firebasestorage.googleapis.com/v0/b/marvel-game-9a665.appspot.com/o/CartasImg%2F044.jpg?alt=media&token=fa1ef60e-1a2b-4723-a4e6-5b302f7469e1"
                        class="card-header">
                    <div class="card-body">
                        <h5 class="card-title">Hombre Lata</h5>
                        <p class="card-text">Poder XP: 120.</p>
                    </div>
                </div>

                <div class="card text-bg-dark mb-3 cardDimencion">
                    <img src="https://firebasestorage.googleapis.com/v0/b/marvel-game-9a665.appspot.com/o/CartasImg%2F1AE.jpg?alt=media&token=4d9c5620-0899-4658-b868-e4e8a5a47a72"
                        class="card-header">
                    <div class="card-body">
                        <h5 class="card-title">Tiro Fijo</h5>
                        <p class="card-text">Poder XP: 150.</p>
                    </div>
                </div>

                <div class="card text-bg-dark mb-3 cardDimencion">
                    <img src="https://firebasestorage.googleapis.com/v0/b/marvel-game-9a665.appspot.com/o/CartasImg%2F063.jpg?alt=media&token=e1356d96-1f63-4186-95ed-6d3348b7fe52"
                        class="card-header">
                    <div class="card-body">
                        <h5 class="card-text">Hulk vs Hombre Roca</h5>
                        <p class="card-text">Poder XP: 150.</p>
                    </div>
                </div>

                <div class="card text-bg-dark mb-3 cardDimencion">
                    <img src="https://firebasestorage.googleapis.com/v0/b/marvel-game-9a665.appspot.com/o/CartasImg%2F0E0.jpg?alt=media&token=f55781ae-1c42-48d2-b052-52471dc24b0d"
                        class="card-header">
                    <div class="card-body">
                        <h5 class="card-title">SpiderMan V.1</h5>
                        <p class="card-text">Poder XP: 110.</p>
                    </div>
                </div>

                <div class="card text-bg-dark mb-3 cardDimencion">
                    <img src="https://firebasestorage.googleapis.com/v0/b/marvel-game-9a665.appspot.com/o/CartasImg%2F168.jpg?alt=media&token=70873d38-e333-4608-8535-b952042c4518"
                        class="card-header">
                    <div class="card-body">
                        <h5 class="card-title">Tiro Fijo</h5>
                        <p class="card-text">Poder XP: 100.</p>
                    </div>
                </div>
            </div>
        </div>

    </div>

    <div class="col-2 d-flex justify-content-center align-items-center minh-100">
        <div class="col-sm-8 p-2">
            <h5 class="card-header text-white text-center p-2">Baraja</h5>
            <div class="card text-center colorUsers anyClass">
                <div class="card text-bg-dark mb-3 cardDimencion">
                    <img src="https://firebasestorage.googleapis.com/v0/b/marvel-game-9a665.appspot.com/o/CartasImg%2F168.jpg?alt=media&token=70873d38-e333-4608-8535-b952042c4518"
                        class="card-header">
                    <div class="card-body">
                        <h5 class="card-title">Tiro Fijo</h5>
                        <p class="card-text">Poder XP: 100.</p>
                    </div>
                </div>

                <div class="card text-bg-dark mb-3 cardDimencion">
                    <img src="https://firebasestorage.googleapis.com/v0/b/marvel-game-9a665.appspot.com/o/CartasImg%2F168.jpg?alt=media&token=70873d38-e333-4608-8535-b952042c4518"
                        class="card-header">
                    <div class="card-body">
                        <h5 class="card-title">Tiro Fijo</h5>
                        <p class="card-text">Poder XP: 100.</p>
                    </div>
                </div>


                <div class="card text-bg-dark mb-3 cardDimencion">
                    <img src="https://firebasestorage.googleapis.com/v0/b/marvel-game-9a665.appspot.com/o/CartasImg%2F168.jpg?alt=media&token=70873d38-e333-4608-8535-b952042c4518"
                        class="card-header">
                    <div class="card-body">
                        <h5 class="card-title">Tiro Fijo</h5>
                        <p class="card-text">Poder XP: 100.</p>
                    </div>
                </div>

                <div class="card text-bg-dark mb-3 cardDimencion">
                    <img src="https://firebasestorage.googleapis.com/v0/b/marvel-game-9a665.appspot.com/o/CartasImg%2F168.jpg?alt=media&token=70873d38-e333-4608-8535-b952042c4518"
                        class="card-header">
                    <div class="card-body">
                        <h5 class="card-title">Tiro Fijo</h5>
                        <p class="card-text">Poder XP: 100.</p>
                    </div>
                </div>

                <div class="card text-bg-dark mb-3 cardDimencion">
                    <img src="https://firebasestorage.googleapis.com/v0/b/marvel-game-9a665.appspot.com/o/CartasImg%2F168.jpg?alt=media&token=70873d38-e333-4608-8535-b952042c4518"
                        class="card-header">
                    <div class="card-body">
                        <h5 class="card-title">Tiro Fijo</h5>
                        <p class="card-text">Poder XP: 100.</p>
                    </div>
                </div>

            </div>
        </div>
    </div>

</div>