<div class="wrapper">

  <video playsinline="playsinline" autoplay="autoplay" autoplay [muted]="'muted'"> loop="loop">
    <source src="../../../assets/video/intro-marvel-studios-hd.mp4" type="video/mp4">
  </video>
  <audio src="../../../assets/audio/mario.mp3" autoplay loop ></audio>



  <div class="container h-100">
    <div class="d-flex h-100 text-center align-items-center">
      <div class="w-50 text-white">
        <div class="input-group col-md-12 d-flex justify-content-center">
          <h1> GAME OVER </h1>
          <div>
            <p style="font-size: 60px;"><span id="tens"></span></p>
            <button class="btn btn-dark" routerLink="/">Regresar al Home</button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
